:root {
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-bgc: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --paragraph-colour: #757575;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
 }

a {
  text-decoration: none;
}

p {
  color: var(--paragraph-colour);
}

footer {
  background-color: var(--footer-bgc);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid green; */
}

.nav {
  padding: 0;
  margin: 0;
}

/* Logo */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: #000000;
}
/* Navigation */

.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .current {
  color: var(--accent-color);
}

/* Tel & E-mail */
.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--paragraph-colour);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts:hover {
  color: var(--accent-color);
}

/* Header */
/* header {
  background-color: salmon; */
}
.header {
  display: flex;
  
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
}
/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 80px;
}

.site-nav .item {
  /* outline: 2px solid purple; */
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* Header-contacts */
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts .item {
  /* outline: 2px solid rebeccapurple; */
}

.header-contacts .item + .item {
  margin-left: 30px;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46;

  color: var(--primary-white-color);
  /* временно, чтоб не терялся белый цвет шрифта */
  background-color: var(--paragraph-colour);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */

.button {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* Advantages */

 #F5F4FA -  фон преимуществ
var(--accent-color) - при ховере

.advantages{
display: flex;
padding: 0;
margin: 0;
}

.advant-title{
display: none;
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.title-text{
  font-size: 14px;
  line-height: 1.71;
}

/* Activity */

.activity{
  display: flex;
  padding: 0;
margin: 0;
}
.activity-title {
  color: var(--primary-white-color);
  /* временно, чтоб не терялся белый цвет шрифта */
  background-color: var(--paragraph-colour);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
/* Team */

.team{
  display: flex;
  padding: 0;
  margin: 0;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.name > .profession {
  font-weight: 400;
}

/* Customers */
.customers{
  display: flex;
  padding: 0;
  margin: 0;
}

/* Footer */
.footer-contacts {
  background-color: var(--footer-bgc);
  color: var(--footer-text-color);
}

/* Logo */
.logo-footer {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.63;
}

.logo-footer > span {
  color: var(--primary-white-color);
}

/* Address box*/
.footer-contacts .address {
  color: var(--primary-white-color);
  /* я не понимаю, почему оно не автоматическое и даже из body (я пробовала) font-style, а упорно рисует мне адрес italic*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contacts .link {
  font-style: normal;
  color: var(--footer-text-color);
}

/* Social Networks box */
.footer-title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Form &Button */
.e-mail {
  color: var(--footer-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.button-footer {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Copiright */
.copiright {
  color: rgba(255, 255, 255, 0.4);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* ****** */

/* portfolio.html */

/* Buttons-filter */

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Works */
.project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.type {
  font-size: 16px;
  line-height: 1.87;
}
.works .description {
  color: var(--primary-white-color);
  /* временно, чтоб не терялся белый цвет шрифта */
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;
}
